<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Hackathon - BITS GOA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-8">
      <h3 class="mb-3 text-center">CASES</h3>
      <div class="row">
        <div class="col-md-4" *ngFor="let case of cases">
          <div class="card mb-2">
            <div class="card-body">
              <h5>
                <strong>{{case.title}}</strong>
              </h5>
              <p class="text-muted">Due date: {{case.expected}}</p>
              <span class="badge" [ngClass]="{'badge-success': case.priority == 'low', 'badge-warning': case.priority == 'medium', 'badge-danger': case.priority == 'high'}">{{case.priority}}</span>
              <hr>
              <h6>Status: {{case.service_rep}}</h6>
              <p>{{case.desc}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="mb-3 text-center">GET CONDITION</h3>
      <form class="text-center" [formGroup]="carForm">
        <div class="form-group">
          <input type="car_id" class="form-control" id="card_id" formControlName="car_id" placeholder="Enter car id">
        </div>
        <input type="button" [disabled]="!carForm.valid" value="Get condition" class="btn btn-info" (click)="getCondition()">
      </form>
      <div class="row mt-4" *ngIf="condition != null">
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">Battery Voltage</h4>
              <h3>{{condition.batt}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">ECT</h4>
              <h3>{{condition.ect}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">Engine Load</h4>
              <h3>{{condition.eng_load}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">Temperature</h4>
              <h3>{{condition.map}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">LTFT</h4>
              <h3>{{condition.ltft}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">STFT</h4>
              <h3>{{condition.stft}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">RPM</h4>
              <h3>{{condition.rpm}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
